.container{
    min-height: 65vh;
}

.myCont{
    margin-bottom: 30px;
}

button{
    margin-top:auto;
}

#reset{
    margin-top: -56px;
    margin-right: 50px;
}

.vehicles{
    margin-left:70px;
}

.destination{
    margin-bottom: 70px ;
}

.myCard{
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    background: #09c9a9;
    border-radius: 10px;
}

